
.memberListContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
	width: 100svw;
	min-width: 0;
	overflow: hidden;
	background-color: var(--background-secondary-lighter);
	--member-list-width: 100svw;
}

@media (min-width: 768px) {
	.memberListContainer {
		--member-list-width: 16.5rem;
		width: var(--member-list-width);
	}
}

.memberListScroller {
	flex: 1;
	min-height: 0;
	background-color: var(--background-secondary-lighter);
	padding-top: 0.625rem;
	padding-left: var(--spacing-2);
	padding-right: var(--spacing-2);
	padding-bottom: var(--spacing-4);
}
