
.text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.875rem;
	color: var(--text-primary);
}

.authorName {
	font-weight: 600;
}

.controls {
	display: flex;
	align-items: center;
}

.mentionToggle {
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 0.5rem 0.75rem;
	font-weight: 600;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.mentionToggleOn {
	color: rgb(96 165 250);
}

.mentionToggleOff {
	color: var(--text-primary-muted);
	transition: color 200ms;
	cursor: pointer;
}

.mentionToggleOff:hover {
	color: var(--text-primary);
}

.mentionIcon {
	margin-right: 0.25rem;
	height: 1.25rem;
	width: 1.25rem;
}

.divider {
	height: 20px;
	width: 1px;
	background-color: var(--background-header-secondary);
}

.closeButton {
	cursor: pointer;
	flex-shrink: 0;
	border: none;
	background-color: transparent;
	padding: 8px 0 8px 16px;
	color: var(--text-primary-muted);
	line-height: 0;
	transition: color 200ms;
}

.closeButton:hover {
	color: var(--text-primary);
}

.closeIcon {
	height: 1.25rem;
	width: 1.25rem;
}

.topBorder {
	box-shadow: inset 0 1px 0 var(--user-area-divider-color);
}
