
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	min-width: var(--textarea-button-height);
	height: var(--textarea-button-height);
	padding: 0;
	color: var(--text-primary-muted);
	transition: color var(--transition-normal);
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	flex-shrink: 0;
}

.button:hover:not(:disabled),
.button.contextMenuHover:not(:disabled) {
	color: var(--text-primary);
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.button.selected {
	color: var(--text-primary);
}

.icon {
	width: var(--textarea-button-icon-size);
	height: var(--textarea-button-icon-size);
	flex-shrink: 0;
}

.buttonCompact {
	composes: button;
	height: var(--textarea-button-compact-height);
	min-width: var(--textarea-button-compact-height);
}

.buttonCompact .icon {
	width: var(--textarea-button-compact-icon-size);
	height: var(--textarea-button-compact-icon-size);
}
