/* =================== Reset =================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background: var(--bg-content);
  color: var(--text-primary);
  overflow: hidden;
  font-size: 15px;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select, button {
  font-family: inherit;
}

/* =================== Scrollbar =================== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-darkest);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-deepest);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

