
.container {
	display: flex;
	flex-direction: column;
	margin: -1rem 0;
}

.item {
	display: flex;
	height: 68px;
	align-items: center;
	border-bottom: 1px solid var(--background-modifier-accent);
}

.container > .item:last-child {
	border-bottom: 0;
}

.itemContent {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.itemLabel {
	display: flex;
	flex: 1;
	align-items: center;
	gap: 0.5rem;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	font-size: 0.875rem;
	color: var(--text-primary);
	text-align: left;
}

.itemLabel.disabled {
	cursor: not-allowed;
}

.labelText {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.875rem;
}

.shortcut {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.extraContent {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
