
.appLayout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;
	height: 100%;
	min-height: 0;
	background-color: transparent;
	color: var(--text-primary);
}

.appLayoutStandalone {
	height: 100%;
	min-height: 0;
}
