
.frame {
	position: relative;
	height: 100%;
	width: 100%;
	border: 1px solid var(--user-area-divider-color);
	border-top: none;
	border-top-left-radius: var(--outline-radius, 0px);
	background: var(--background-secondary-lighter);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.frameShowTop {
	border-top: 1px solid var(--user-area-divider-color);
}

.frameHideTop {
	border-top: none;
}

.frameHideTop {
	border-top: none;
}

.contentWrapper {
	position: relative;
	flex: 1;
	min-height: 0;
	display: flex;
	flex-direction: column;
}

.divider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--layout-sidebar-width);
	width: 1px;
	pointer-events: none;
	background: var(--user-area-divider-color);
	z-index: 2;
}

.body {
	position: relative;
	flex: 1;
	min-height: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	display: flex;
	flex-direction: column;
}
