
.modals {
	background: none;
	inset: 0;
	pointer-events: none;
	position: fixed;
	z-index: var(--z-index-modal);
}

:global(html.platform-native:not(.platform-macos)) .modals {
	top: var(--native-titlebar-height);
}
